*.class
\bin
\gen
*/bin/
*/gen/
*/bin/*
*/gen/*
bin/classes/com/example/icreep/LocationActivity.class
bin/classes/com/example/icreep/MainActivity.class
bin/classes/com/example/icreep/R$color.class
bin/classes/com/example/icreep/R$dimen.class
bin/classes/com/example/icreep/R$drawable.class
bin/classes/com/example/icreep/R$id.class
bin/classes/com/example/icreep/R$layout.class
bin/classes/com/example/icreep/R$menu.class
bin/classes/com/example/icreep/LocationActivity.class
bin/classes/com/example/icreep/MainActivity.class
bin/classes/com/example/icreep/R$color.class
bin/classes/com/example/icreep/R$dimen.class
bin/classes/com/example/icreep/R$drawable.class
bin/classes/com/example/icreep/R$id.class
bin/classes/com/example/icreep/R$layout.class
bin/classes/com/example/icreep/R$menu.class
