<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="icreep.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WIFI" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icreep_app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="icreep.app.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="icreep.app.Location.LocationActivity"
            android:label="@string/title_activity_location" >
            android:name="com.example.icreep.ProfileCreation"
            android:label="@string/title_activity_profile_creation"
            android:parentActivityName="com.example.icreep.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.icreep.MainActivity" />
        </activity>
        <activity
            android:name="icreep.app.MainMenu"
            android:label="@string/title_activity_main_menu"
            android:parentActivityName="icreep.app.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.icreep.MainActivity" />
        </activity>
        <activity
            android:name="icreep.app.Menu"
            android:label="@string/title_activity_menu"
            android:parentActivityName="icreep.app.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.icreep.MainActivity" />
        </activity>
        <activity
            android:name="icreep.app.IcreepMenu"
            android:label="@string/title_activity_icreep_menu"
            android:parentActivityName="icreep.app.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.icreep.MainActivity" />
        </activity>
        <activity
            android:name="icreep.app.Report.reportActivity"
            android:label="@string/title_activity_icreep_menu"
            android:parentActivityName="icreep.app.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.icreep.MainActivity" />
        </activity>
        <activity
            android:name="icreep.app.TimeTracker.TimeTrackerActivity"
            android:label="@string/title_activity_time_tracker" >
        </activity>
    </application>

</manifest>
